﻿<%@ Page Title="Home Page" Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="HospitalApp._Default" MasterPageFile="~/Layout.Master" %>
<asp:Content runat="server" ContentPlaceHolderID="title">Hospital App</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID ="main">   
             <a href="Hospitals/List.aspx">Hospitals List</a>  <a href="Doctors/List.aspx">Doctors List</a>
    </asp:Content>

        

